body 
{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

#app 
{
    margin: 0 0 0 220px;
    line-height: 1.5;
}

.nav 
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    background: #001423;
    color: #467398;
}

.nav__link
{
    display: block;
    padding: 12px 18px;
    color: #84a4be;
    text-decoration: none;
}


h1, p
{
    margin: 30px;
}

h1 {
    color: #003a66;
}

section 
{
    margin: 0;
    padding: 30px;
    background: rgb(239, 239, 245);
}
section p
{
    margin: 10px 0;
    color: #5f5f5f;
}

ul
{
    padding: 0;
}

a, li a
{
    text-decoration: none;
}

li a {
    color: rgb(34, 34, 80);
}

li
{
    list-style: none;
}


/* Mobile Navigation  */
/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #149ddd;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  


/* Modal */
.modal {
    overflow: auto;
    background-color: rgba(0, 28, 57, 0.6);
}

.modal-title {
    font-size: 24px;
}

.modal-body {
    font-size: 17px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }