body 
{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

#app 
{
    margin: 0 0 0 260px;
    line-height: 1.5;
}

.nav 
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    background: #000;
    color: #fff;
}

.nav__link
{
    display: block;
    padding: 12px 18px;
    color: #eee;
    text-decoration: none;
}


h1, p
{
    margin: 30px;
}


section 
{
    margin: 0;
    padding: 30px;
    background: rgb(239, 239, 245);
}
section p
{
    margin: 10px 0;
}

ul
{
    padding: 0;
}

a, li a
{
    text-decoration: none;
}

li a {
    color: rgb(34, 34, 80);
}

li
{
    list-style: none;
}


/* Modal */
.modal {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-title {
    font-size: 24px;
}

.modal-body {
    font-size: 17px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }